# Botón Para Esconder Código

In [28]:
#Sacado de https://mljar.com/blog/jupyter-notebook-hide-code/
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Aprete aqui para visualizar/esconder bloques de codigo."></form>''')

## Libraries y Base

In [29]:
import pandas as pd
import numpy as np
import os

# Parte I: Análisis de la base de hogares y cálculo de pobreza

1) Consideramos que hay varias variables que podrían resultar importantes a la hora de mejorar el ejercicio del TP2. A continuación, divididas por sección:

Identificación:
- REGION: La pobreza no es homogenea por regiones, asumimos que según sea la región de la vivienda, la probabilidad de ser pobre varía. 

Características de la Vivienda:
- IV5/IV6/IV7/IV12_3: Ciertas caracteristicas de la vivienda que pueden demarcar pobreza. Relacionadas con necesidades básicas. Ejemplo agua o tipo de techo. IV12_3 si es o no villa de emergencia.

Características Habitacionales del Hogar:
- II7:Régimen de tenencia, según cual sea, relacionado con si es pobre o no. Ejemplo, si es ocupante de hecho, asumo que es más probable que sea pobre.
- II8: Combustible, relacionado con necesidades básicas. 

Estrategias del Hogar:
- V5: Subsidios y ayuda social por lo general va destinado a gente que lo necesita, entre las que se encuentran personas de bajos recursos/pobres.
- V17/V19_A/V12/V4: Son variables relacionadas a la necesidad de conseguir un ingreso extra. Ejemplo, menores de edad trabajando o vender pertenencias.  Comunican necesidad, relacionadas con pobreza.

Resumen del Hogar: 
- IX_MEN10: Mayor cantidad de hijos en hogares de menos recursos. 

Recordamos que esto es adicional a lo presentado en el punto 6 de la parte 2 del TP2, en el cual seleccionamos las siguientes variables de la base individual: CH04, CH06, CH08, CH09, CH10, CH11, CH12, CH13, NIVEL_ED, ESTADO, PP02E, PP02H, PP02I.

2)

In [30]:
#Abrimos la base
hogar = pd.read_excel('./EPH_usu_1er_Trim_2022_xlsx/usu_hogar_T122.xlsx')

#Eliminamos todos los aglomerados que no correspondan a CABA (cód 32) o GBA (cód 33)
hogar_cortado = hogar.query("AGLOMERADO in (32, 33)") # la manera mas rapida y facil de hacerlo

print(len(hogar_cortado))

hogar_cortado.sample(10)

2392

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,REALIZADA,REGION,MAS_500,AGLOMERADO,PONDERA,IV1,...,GDECCFR,PDECCFR,ADECCFR,PONDIH,VII1_1,VII1_2,VII2_1,VII2_2,VII2_3,VII2_4
12544,TQRMNOQWYHKNQLCDEIJAH00780692,2022,1,2,1,1,S,33,3630,1,...,5.0,NaN,5,7018,1,2,3,0,0,0
6425,TQRMNOPWRHLOSLCDEIJAH00719619,2022,1,1,1,1,S,33,1980,1,...,12.0,NaN,12,0,2,1,98,0,0,0
5415,TQRMNOPRUHMKNNCDEIIAD00698091,2022,1,1,1,1,S,32,1084,2,...,5.0,NaN,3,2711,1,2,4,5,2,0
10449,TQRMNORQWHMMONCDEIJAH00780543,2022,1,1,1,1,S,33,1309,1,...,12.0,NaN,12,0,1,2,3,0,0,0
15261,TQRMNORQPHKLLPCDEIIAD00780032,2022,1,1,1,1,S,32,1462,2,...,9.0,NaN,7,1763,1,0,98,0,0,0
12289,TQRMNOPTPHMMOQCDEIJAH00700335,2022,1,1,1,1,S,33,2987,1,...,12.0,NaN,12,0,2,1,3,0,0,0
4996,TQRMNOSVUHKONPCDEIJAH00780317,2022,1,1,1,1,S,33,1237,1,...,12.0,NaN,12,0,1,2,3,4,0,0
5237,TQRMNOPTRHMMPMCDEIJAH00698170,2022,1,2,1,1,S,33,2097,1,...,5.0,NaN,6,2127,1,0,97,0,0,0
4307,TQRMNOTQTHKOTNCDEIJAH00780120,2022,1,1,1,1,S,33,4171,1,...,12.0,NaN,12,0,1,2,98,0,0,0
12152,TQRMNORWYHLNRMCDEIJAH00719242,2022,1,1,1,1,S,33,5409,1,...,12.0,NaN,12,0,2,0,5,7,8,0

3)

In [31]:
#Importamos tabla individual 
#Abrimos la base
individual = pd.read_excel('./EPH_usu_1er_Trim_2022_xlsx/usu_individual_T122.xlsx')

#Eliminamos todos los aglomerados que no correspondan a CABA (cód 32) o GBA (cód 33)
individual_cortado = individual.query("AGLOMERADO in (32, 33)") # la manera mas rapida y facil de hacerlo

print(len(individual_cortado))

individual_cortado.sample(10)

6706

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,PDECIFR,ADECIFR,IPCF,DECCFR,IDECCFR,RDECCFR,GDECCFR,PDECCFR,ADECCFR,PONDIH
4870,TQRMNOSVUHKMTTCDEIJAH00780256,2022,1,1,5,1,1,S,33,2481,...,NaN,12,0.00,12,NaN,12,12.0,NaN,12,0
8396,TQRMNOQYWHKNNPCDEIIAD00779825,2022,1,1,1,1,1,S,32,1578,...,NaN,1,43000.00,6,NaN,6,6.0,NaN,4,2879
45316,TQRMNOPQVHKMLUCDEIIAD00780080,2022,1,1,1,1,1,S,32,1380,...,NaN,12,0.00,12,NaN,12,12.0,NaN,12,0
43563,TQRMNOPVPHJMMUCDEIJAH00698193,2022,1,1,1,1,1,S,33,1812,...,NaN,2,13333.33,2,NaN,2,2.0,NaN,2,3344
1831,TQRMNOQWWHKNKMCDEIIAD00779788,2022,1,1,2,1,1,S,32,2021,...,NaN,12,0.00,12,NaN,12,12.0,NaN,12,0
8761,TQRMNOSRVHLOOOCDEIIAD00718581,2022,1,1,2,1,1,S,32,1600,...,NaN,12,0.00,12,NaN,12,12.0,NaN,12,0
17448,TQSMNOPPQHJNMQCDEIJAH00698189,2022,1,1,1,1,1,S,33,1750,...,NaN,12,0.00,12,NaN,12,12.0,NaN,12,0
22813,TQRMNOPPWHLOLRCDEIIAD00718250,2022,1,1,3,1,1,S,32,2212,...,NaN,12,0.00,12,NaN,12,12.0,NaN,12,0
16685,TQRMNORUQHMMMRCDEIJAH00700991,2022,1,1,4,1,1,S,33,1833,...,NaN,3,12200.00,1,NaN,1,1.0,NaN,2,3463
14002,TQRMNORQYHKMNMCDEIJAH00780434,2022,1,1,2,1,1,S,33,1341,...,NaN,5,21250.00,3,NaN,3,3.0,NaN,3,2639

In [32]:
#Mergeamos ambos DF
eph = individual_cortado.merge(hogar_cortado,how='left',on=['CODUSU', 'NRO_HOGAR'], suffixes=('', '_y'))

#tipos y nombres
print(eph.dtypes)

#notamos que hay columnas repetidas
eph['ITF'].equals(eph['ITF_y'])

#Borramos las que tengan sufijo  _y
eph.drop(eph.filter(regex='_y$').columns, axis=1, inplace=True)

print(len(eph))

eph.sample(10)

CODUSU        object
ANO4           int64
TRIMESTRE      int64
NRO_HOGAR      int64
COMPONENTE     int64
               ...
VII1_2         int64
VII2_1         int64
VII2_2         int64
VII2_3         int64
VII2_4         int64
Length: 263, dtype: object
6706

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,V19_B,IX_TOT,IX_MEN10,IX_MAYEQ10,VII1_1,VII1_2,VII2_1,VII2_2,VII2_3,VII2_4
4468,TQRMNOPQWHJMQTCDEIJAH00780698,2022,1,1,7,1,1,S,33,1351,...,2,7,1,6,2,1,98,0,0,0
2935,TQRMNORUQHMMMRCDEIJAH00700991,2022,1,1,3,1,1,S,33,1833,...,2,5,0,5,1,0,98,0,0,0
5955,TQRMNOPPRHLNNPCDEIJAH00719050,2022,1,1,6,0,1,S,33,245,...,2,6,1,5,2,0,3,0,0,0
1594,TQRMNOSSVHKKLMCDEIIAD00779807,2022,1,1,2,1,1,S,32,2821,...,2,3,1,2,1,0,2,0,0,0
4327,TQRMNOQUXHMLLPCDEIJAH00700344,2022,1,1,1,1,1,S,33,1178,...,2,2,0,2,1,0,2,0,0,0
913,TQRMNORPQHMMOOCDEIJAH00702295,2022,1,1,9,0,1,S,33,2725,...,2,9,2,7,2,7,5,1,3,0
3402,TQRMNOQRTHJKTMCDEIJAH00692988,2022,1,1,2,1,1,S,33,3131,...,2,5,1,4,1,0,2,0,0,0
6068,TQRMNOPXPHJLRNCDEIJAH00693001,2022,1,1,1,1,1,S,33,1433,...,2,2,0,2,1,2,98,0,0,0
3830,TQRMNOTSXHJKMSCDEIIAD00718597,2022,1,1,5,1,1,S,32,970,...,2,6,0,6,2,0,1,0,0,0
1987,TQRMNORSQHKMPUCDEIJAH00780350,2022,1,1,8,0,1,S,33,3162,...,2,9,3,6,1,0,98,0,0,0

4) 
- Para eliminar aquellas observaciones relacionadas a ingreso que sea negativo, utilizaremos el metodo .loc, combinando con el prefijo ~ para expresar que queremos localizar aquellas que no sean negativas en algun punto.
- Eliminamos duplicados con .drop_duplicates
- Con .isnull, .dropna y .shape eliminamos aquellas columnas que tengan mas de un porcentaje de NAs.
- Armando un interquantile range score eliminamos outliers.
- Con .dtypes nos fijamos el tipo de las variables restantes.

5)

In [33]:
#Eliminamos aquellas que tengan ingreso o edad negativa
eph = eph.loc[~(
(eph['CH06']<0) | 
(eph['PP08D1']<0) | 
(eph['PP08D4']<0) |
(eph['PP08F1']<0) |
(eph['PP08F2']<0) |
(eph['PP08J1']<0) |
(eph['PP08J2']<0) |
(eph['PP08J3']<0) |
(eph['ITF']<0) |
(eph['IPCF']<0) )]

In [34]:
#Chequeamos si hay duplicados y los dropeamos
eph = eph.drop_duplicates()
#no hay duplicados, cool!

In [35]:
#Cheque columnas con muchos NAs, si tiene mas de 70% los vamos a  borrar 
#Notese quiebre de NAs en 96% y 81%, no es tan arbitrario el 70%
percent_missing = eph.isnull().sum() * 100 / len(eph)
missing_value_eph = pd.DataFrame({'Columna': eph.columns,
                                 'Porcentaje de NAs': percent_missing})
missing_value_eph.sort_values('Porcentaje de NAs', inplace=True,ascending=False)
missing_value_eph.head(50)

               Columna  Porcentaje de NAs
PP09C_ESP    PP09C_ESP         100.000000
PDECCFR        PDECCFR         100.000000
PDECIFR        PDECIFR         100.000000
IDECIFR        IDECIFR         100.000000
PDECINDR      PDECINDR         100.000000
IDECINDR      IDECINDR         100.000000
PDECOCUR      PDECOCUR         100.000000
IDECOCUR      IDECOCUR         100.000000
IDECCFR        IDECCFR         100.000000
IV1_ESP        IV1_ESP          99.983311
IV7_ESP        IV7_ESP          99.916555
IV3_ESP        IV3_ESP          99.783044
PP09A_ESP    PP09A_ESP          99.732977
II7_ESP        II7_ESP          99.582777
IMPUTA          IMPUTA          99.399199
CH16_COD      CH16_COD          98.297730
II8_ESP        II8_ESP          98.030708
PP11D_COD    PP11D_COD          96.979306
PP10A            PP10A          96.128171
PP10C            PP10C          96.128171
PP11B2_DIA  PP11B2_DIA          96.128171
PP10D            PP10D          96.128171
PP11A            PP11A          96.128171
PP11B_COD    PP11B_COD          96.128171
PP11B1          PP11B1          96.128171
PP11B2_MES  PP11B2_MES          96.128171
PP11B2_ANO  PP11B2_ANO          96.128171
PP11G_DIA    PP11G_DIA          96.128171
PP10E            PP10E          96.128171
PP11C            PP11C          96.128171
PP11N            PP11N          96.128171
PP11C99        PP11C99          96.128171
PP11S            PP11S          96.128171
PP11T            PP11T          96.128171
PP11R            PP11R          96.128171
PP11Q            PP11Q          96.128171
PP11P            PP11P          96.128171
PP11O            PP11O          96.128171
PP11M            PP11M          96.128171
PP11L1          PP11L1          96.128171
PP11L            PP11L          96.128171
PP11G_MES    PP11G_MES          96.128171
PP11G_ANO    PP11G_ANO          96.128171
CH15_COD      CH15_COD          81.508678
PP07F3          PP07F3          61.214953
PP07G3          PP07G3          61.214953
PP07G2          PP07G2          61.214953
PP07F5          PP07F5          61.214953
PP07F4          PP07F4          61.214953
PP07C            PP07C          61.214953

In [36]:
#Borramos mas de 80%
perc = 70.0
min_count =  int(((100-perc)/100)*eph.shape[0] + 1)
eph = eph.dropna( axis=1, 
                thresh=min_count)
#chequeamos haber borrado lo que queriamos
percent_missing = eph.isnull().sum() * 100 / len(eph)
missing_value_eph = pd.DataFrame({'Columna': eph.columns,
                                 'Porcentaje de NAs': percent_missing})
missing_value_eph.sort_values('Porcentaje de NAs', inplace=True,ascending=False)
missing_value_eph.head(70)

         Columna  Porcentaje de NAs
PP09B      PP09B          61.214953
PP05C_2  PP05C_2          61.214953
PP07C      PP07C          61.214953
PP07A      PP07A          61.214953
PP06H      PP06H          61.214953
...          ...                ...
IV12_2    IV12_2           0.000000
IV12_3    IV12_3           0.000000
II1          II1           0.000000
II2          II2           0.000000
VII2_3    VII2_3           0.000000

[70 rows x 2 columns]

In [40]:
#Outliers: Nos quedaremos con los valores de ingreso entre los cuantiles
#siguiendo el metodo de interquantile range score propuesto en https://www.pluralsight.com/guides/cleaning-up-data-from-outliers

variables_para_outliers=[
'PP08D1','PP08D4','PP08F1','PP08F2','PP08J1','PP08J2','PP08J3','ITF','IPCF',
'P21', 'TOT_P12', 'P47T'
]

eph[variables_para_outliers].describe()

,PP08D1,PP08D4,PP08F1,PP08F2,PP08J1,PP08J2,PP08J3,ITF,IPCF,P21,TOT_P12,P47T
count,2324.000000,2324.0,2324.000000,2324.000000,2324.000000,2324.000000,2324.000000,5992.000000,5992.000000,5992.000000,5992.000000,5964.000000
mean,44783.868330,0.0,447.805508,88.339071,4674.591222,351.721170,21.944923,80452.365988,28244.142124,22295.271362,1560.551068,33829.937626
std,57861.612292,0.0,4645.968948,1517.465259,17444.385797,6560.869767,851.394948,106119.672606,42436.255827,48318.657494,10682.821820,59126.040833
min,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.000000,-9.000000,-9.000000
25%,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,30000.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,54500.000000,15750.000000,0.000000,0.000000,0.000000
75%,70000.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,120000.000000,40062.500000,30000.000000,0.000000,50000.000000
max,600000.000000,0.0,70000.000000,60000.000000,300000.000000,260000.000000,40000.000000,950000.000000,600000.000000,1000000.000000,240000.000000,910000.000000

In [74]:
#Generamos Interquantile Ranges, con eso sacamos los que queden afuera
#Asimetrico por ser ingreso una variable con lower bound pero no upper bound
Qlow = eph[variables_para_outliers].quantile(0.025)
Qhigh = eph[variables_para_outliers].quantile(0.90)
IQR = Qhigh - Qlow
print(IQR)
eph_inc = eph[variables_para_outliers]
eph_out = eph_inc[~((eph_inc < (Qlow - 1.5 * IQR)) |(eph_inc > (Qhigh + 1.5 * IQR))).any(axis=1)]
indexes = eph_out.index.values.tolist() 
eph.loc[indexes]

PP08D1     110000.0
PP08D4          0.0
PP08F1          0.0
PP08F2          0.0
PP08J1      13000.0
PP08J2          0.0
PP08J3          0.0
ITF        203000.0
IPCF        70800.0
P21         80009.0
TOT_P12         0.0
P47T        95709.0
dtype: float64

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,V19_B,IX_TOT,IX_MEN10,IX_MAYEQ10,VII1_1,VII1_2,VII2_1,VII2_2,VII2_3,VII2_4
0,TQRMNOSUPHKKPQCDEIJAH00780151,2022,1,1,1,1,1,S,33,1741,...,2,3,0,3,1,2,3,0,0,0
1,TQRMNOSUPHKKPQCDEIJAH00780151,2022,1,1,2,1,1,S,33,1741,...,2,3,0,3,1,2,3,0,0,0
3,TQRMNOPQQHKMRLCDEIJAH00780169,2022,1,1,1,1,1,S,33,456,...,2,1,0,1,1,0,98,0,0,0
4,TQRMNOSXRHJMTRCDEIJAH00693084,2022,1,1,1,1,1,S,33,1199,...,2,2,0,2,1,3,98,0,0,0
5,TQRMNOSXRHJMTRCDEIJAH00693084,2022,1,1,3,1,1,S,33,1199,...,2,2,0,2,1,3,98,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6696,TQRMNOTRWHLMLUCDEIIAD00718588,2022,1,1,2,1,1,S,32,2554,...,2,2,0,2,96,0,1,0,0,0
6698,TQRMNOTSRHLMLUCDEIIAD00718231,2022,1,1,2,1,1,S,32,1327,...,2,2,0,2,1,0,2,0,0,0
6700,TQRMNOTTSHKNLSCDEIIAD00780102,2022,1,1,1,1,1,S,32,2839,...,2,2,0,2,1,0,98,0,0,0
6704,TQRMNOSRWHKMLUCDEIIAD00780103,2022,1,1,1,1,1,S,32,1513,...,2,2,0,2,1,0,2,0,0,0
6705,TQRMNOSRWHKMLUCDEIIAD00780103,2022,1,1,2,1,1,S,32,1513,...,2,2,0,2,1,0,2,0,0,0

In [80]:
#Chequeamos tipo de las variable restantes
eph.info(verbose=True)
print("Son todas object, int64 o float64, visto en una tabla:")
eph.dtypes.value_counts()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5992 entries, 0 to 6705
Data columns (total 198 columns):
 #    Column      Dtype
---   ------      -----
 0    CODUSU      object
 1    ANO4        int64
 2    TRIMESTRE   int64
 3    NRO_HOGAR   int64
 4    COMPONENTE  int64
 5    H15         int64
 6    REGION      int64
 7    MAS_500     object
 8    AGLOMERADO  int64
 9    PONDERA     int64
 10   CH03        int64
 11   CH04        int64
 12   CH05        object
 13   CH06        int64
 14   CH07        int64
 15   CH08        int64
 16   CH09        int64
 17   CH10        int64
 18   CH11        int64
 19   CH12        int64
 20   CH13        int64
 21   CH14        float64
 22   CH15        int64
 23   CH16        int64
 24   NIVEL_ED    int64
 25   ESTADO      int64
 26   CAT_OCUP    int64
 27   CAT_INAC    int64
 28   PP02C1      int64
 29   PP02C2      int64
 30   PP02C3      int64
 31   PP02C4      int64
 32   PP02C5      int64
 33   PP02C6      int64
 34   PP02C7      int64
 35   PP02C8      int64
 36   PP02E       int64
 37   PP02H       int64
 38   PP02I       int64
 39   PP03C       float64
 40   PP03D       float64
 41   PP3E_TOT    float64
 42   PP3F_TOT    float64
 43   PP03G       float64
 44   PP03H       float64
 45   PP03I       float64
 46   PP03J       float64
 47   INTENSI     float64
 48   PP04A       float64
 49   PP04B_COD   float64
 50   PP04B1      float64
 51   PP04B2      float64
 52   PP04B3_MES  float64
 53   PP04B3_ANO  float64
 54   PP04B3_DIA  float64
 55   PP04C       float64
 56   PP04C99     float64
 57   PP04D_COD   float64
 58   PP04G       float64
 59   PP05B2_MES  float64
 60   PP05B2_ANO  float64
 61   PP05B2_DIA  float64
 62   PP05C_1     float64
 63   PP05C_2     float64
 64   PP05C_3     float64
 65   PP05E       float64
 66   PP05F       float64
 67   PP05H       float64
 68   PP06A       float64
 69   PP06C       float64
 70   PP06D       float64
 71   PP06E       float64
 72   PP06H       float64
 73   PP07A       float64
 74   PP07C       float64
 75   PP07D       float64
 76   PP07E       float64
 77   PP07F1      float64
 78   PP07F2      float64
 79   PP07F3      float64
 80   PP07F4      float64
 81   PP07F5      float64
 82   PP07G1      float64
 83   PP07G2      float64
 84   PP07G3      float64
 85   PP07G4      float64
 86   PP07G_59    float64
 87   PP07H       float64
 88   PP07I       float64
 89   PP07J       float64
 90   PP07K       float64
 91   PP08D1      float64
 92   PP08D4      float64
 93   PP08F1      float64
 94   PP08F2      float64
 95   PP08J1      float64
 96   PP08J2      float64
 97   PP08J3      float64
 98   PP09A       float64
 99   PP09B       float64
 100  PP09C       float64
 101  P21         int64
 102  DECOCUR     int64
 103  RDECOCUR    int64
 104  GDECOCUR    float64
 105  ADECOCUR    int64
 106  PONDIIO     int64
 107  TOT_P12     int64
 108  P47T        float64
 109  DECINDR     int64
 110  RDECINDR    int64
 111  GDECINDR    float64
 112  ADECINDR    int64
 113  PONDII      int64
 114  V2_M        int64
 115  V3_M        int64
 116  V4_M        int64
 117  V5_M        int64
 118  V8_M        int64
 119  V9_M        int64
 120  V10_M       int64
 121  V11_M       int64
 122  V12_M       int64
 123  V18_M       int64
 124  V19_AM      int64
 125  V21_M       int64
 126  T_VI        int64
 127  ITF         int64
 128  DECIFR      int64
 129  RDECIFR     int64
 130  GDECIFR     float64
 131  ADECIFR     int64
 132  IPCF        float64
 133  DECCFR      int64
 134  RDECCFR     int64
 135  GDECCFR     float64
 136  ADECCFR     int64
 137  PONDIH      int64
 138  REALIZADA   int64
 139  IV1         int64
 140  IV2         int64
 141  IV3         int64
 142  IV4         int64
 143  IV5         int64
 144  IV6         int64
 145  IV7         int64
 146  IV8         int64
 147  IV9         int64
 148  IV10        int64
 149  IV11        int64
 150  IV12_1      int64
 151  IV12_2      int64
 152  IV12_3      int64
 153  II1         int64
 154  II2         int64
 155  II3         int64
 156  II3_1       int64
 157  II4_1       int64
 158  II4_2       int64
 159  II4_3       int64
 160  II5         int64
 161  II5_1       int64
 162  II6         int64
 163  II6_1       int64
 164  II7         int64
 165  II8         int64
 166  II9         int64
 167  V1          int64
 168  V2          int64
 169  V21         int64
 170  V22         int64
 171  V3          int64
 172  V4          int64
 173  V5          int64
 174  V6          int64
 175  V7          int64
 176  V8          int64
 177  V9          int64
 178  V10         int64
 179  V11         int64
 180  V12         int64
 181  V13         int64
 182  V14         int64
 183  V15         int64
 184  V16         int64
 185  V17         int64
 186  V18         int64
 187  V19_A       int64
 188  V19_B       int64
 189  IX_TOT      int64
 190  IX_MEN10    int64
 191  IX_MAYEQ10  int64
 192  VII1_1      int64
 193  VII1_2      int64
 194  VII2_1      int64
 195  VII2_2      int64
 196  VII2_3      int64
 197  VII2_4      int64
dtypes: float64(69), int64(126), object(3)
memory usage: 9.2+ MB
Son todas object, int64 o float64, visto en una tabla:

int64      126
float64     69
object       3
dtype: int64

# ACA VERIA COMO HACER CON NAs Y DIVISION ENTRE CATEGORICAS Y NO CATEGORICAS

6)